@import "../../scss/main";

.page-pre-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 44px;
    color: $color_1;
    animation-name: spin;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }

}

@include spin-animation();
